.navbar.navbar-inverse.navbar-static-top {
  margin-bottom: 0;
}

input#autocomplete {
  width: 100%;
}

#map, #simple-map {
  height: 400px;
  width: 100%;
}

body > .container {
  margin-top: 20px;
}
